.conocimientos-container {
    margin-top: -21%;
    margin-bottom: 40px; /* Aumentar espacio alrededor del título */
    text-align: center; /* Centrar el título */
    background-color: var(--color-fondo-parte3);
    color: var(--color-textoPrimario);
    padding: 200px 5% 50px;
}

.rowConocimientos {
    display: flex;
    justify-content: center;
    gap: 40px; /* Aumentar espacio entre elementos */
}

.conocimientosImgText {
    text-align: center;
    margin-top: 20px; /* Aumentar margen entre texto e imagen */
}

.conocimientosImgText img {
    width: 125px;
    height: auto;
    padding-bottom: 10%;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); /* Transición suave y personalizada */
}

.conocimientosImgText img:hover {
    transform: translateY(-15px); /* Mueve la imagen hacia arriba en 5px al hacer hover */
}

@-webkit-keyframes moveUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

@keyframes moveUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}


#contOla3 {
    margin-top: -2.1%;
}
#ola3 {
    fill: var(--color-fondo-parte3);
    transform: scaleY(0.5);
}