#acerca {
    margin-top: -19%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 150px 5% 50px;
    background-color: var(--color-fondo-parte2);
}
.subDivAcerca {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-textoPrimario);

}
.subDivAcerca img {
    border-radius: 100%;
    width: 45%;
    height: auto;
}

.subDivAcerca .textoAc{
    margin-right:4%;
    margin-left: 30%;
}
.subDivAcerca .textoAc .pGrande{
    width: 100%;
    font-size: 110%;
}

.subDivAcerca img{
    width: 35%;
    margin-bottom: 10%;
}

#ola2 {
    fill: var(--color-fondo-parte2);
    transform: scaleY(0.65);
}