.standard-image-size {
    width: 50px;
    height: auto; /* Para mantener la proporción de aspecto */
}

.card.mb-4 {
    margin-bottom: 0; /* Elimina el margen inferior de Bootstrap */
    width: 100%; /* Establece el ancho al 100% */
}