/* src/components/Header/HeaderBar.css */

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  animation-duration: 0.7s;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
}

.navbar {
  background-color: var(--color-fondo-barra-botones);
  color: var(--color-textoPrimario);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s; /* Transición suave para esconder/mostrar la navbar */
}

  .navbar.hidden {
    transform: translateY(0); /* Asegúrate de que la navbar esté siempre visible */
  }
  
  .navbar-brand a {
    color: var(--color-textoPrimario);
    font-size: 30px;
    text-decoration: none;
  }
  
  .navbar-nav-wrapper {
    display: flex;
    float: right;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  .navbar-nav2 {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    box-sizing: none;
  }

  .nav-item a{
    display: inline;
    color: var(--color-textoPrimario);
    box-sizing: content-box;
    font-size: 20px;
  }

  
  .nav-link {
    color: var(--color-textoPrimario);
    text-decoration: none;
    font-size: 24px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-item a:hover {
    color: #bbb;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-nav {
      flex-direction: column;
      gap: 10px;
    }
  }
  
  /* Estilos para el botón de "scroll to top" */
  #scrolltop {
    position: fixed;
    bottom: 3.5%;
    right: 2%;
    background-color: var(--color-fondo-barra-botones);
    color: var(--color-textoPrimario);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
  }
  
  #scrolltop:hover {
    background-color: #555;
    color: var(--color-textoPrimario);
  }
  